@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
nav {font-family: sans-serif; font-size: 10px;}
body{font-family: Lato; font-size: 18px}

#main {width: 900px; margin: 10px auto; background-image:url("./img/map-bg.jpg");}

#name {font-family: Supermercado One; font-size: 45px; color: #5d4037;}

#menu {columns: 400px 2; column-gap: 100px; column-rule: 2px dashed rosybrown}
section {margin-bottom: 50px;}

#starterHeader {color: #6d4c41; font-variant: small-caps}
#soupHeader {color: #6d4c41; font-variant: small-caps}
#entreeHeader {color: #6d4c41; font-variant: small-caps}
#dessertHeader {color: #6d4c41; font-variant: small-caps}
h2 {margin: 0;}

.itemName {font-size: 20px; font-weight: bold}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {order: 2; padding-left: 10px; font-size: large; color: firebrick}

address {padding: 10px; border: 2px dashed rosybrown}
