@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

nav {font-family: sans-serif; font-size: 10px;}
body{font-family: Oswald; font-size: 14px}

#main {width: 900px; margin: 10px auto}

#name {font-family: Bungee Inline; font-size: 46px; font-weight: lighter}

#menu {columns: 420px 2; column-gap: 60px;}
section {margin-bottom: 20px; padding: 10px;}


#starterHeader {text-transform: uppercase}
#soupHeader {text-transform: uppercase}
#entreeHeader {text-transform: uppercase}
#dessertHeader {text-transform: uppercase}
h2 {margin-top: 0;}

.itemName {font-size: 16px; font-weight: bold}
dt {display: inline;}

.itemName::after{content: ","}
/* Make a comma appear after the name of each menu item (before the description) */

dd {display: inline; margin: 0}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px}

.price {float: right; padding: 0 0 35px 20px}

#starters{border-style: solid; border: 2px thick black}
#desserts{border-style: solid; border: 2px thick black}

#footer{text-align: right}


